<div>Thank you for flighting with us, <%= @passenger.name %> !</div>

<div>Your ticket has been booked successfully</div>

<div>If you are the creator of the booking, you can click <%= link_to "here", booking_url(@booking) %> to see it</div>