<h3>Booking detail </h3>
<div> Flight detail: <%= @booking.flight.flight_detail %></div> 
<% @booking.passengers.each do |passenger| %>
  <div> Ticket infor: </div>
  <div> Name: <%= passenger.name %></div>    
  <div> Email: <%= passenger.email %></div>  
  <br>  
<% end %>
